.profile-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100%;
    grid-column-gap: 10px;
    height: 100%;
    overflow: hidden;

    .profile-sidebar {
        grid-column: 1 / span 3;
        display: flex;
        justify-content: flex-end;
    }
    .profile-body {
        grid-column: span 6;
        overflow: hidden;
        .tab-content {
            margin: 20px;
        }
    }
}

mat-spinner {
    margin: 20% auto;
}

.tab-body-header {
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    overflow: hidden;
    h1 {
        margin: 0;
    }
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.outlet {
    display: flex;
    flex-flow: column;
}