  <h1>hey new user!</h1>
  <p>a couple of steps need to be completed before you can start browsing</p>

  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>upload an avatar</ng-template>
        <button mat-raised-button color="primary">
            <mat-icon inline="true">attach_file</mat-icon>
            upload avatar
        </button>
        <p>images must be &lt;200kb in size & either jpg or png</p>
        <!-- <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field> -->
        <div>
          <button mat-raised-button matStepperNext>next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>add your name</ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>back</button>
          <button mat-button primary matStepperNext>next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>finish!</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>