.item {
  display: flex;
  align-items: center;
  height: 32px;
  // margin-right: 10px;

  p {
    font-size: 14px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    span {
      opacity: 0.5;
      float: right;
      margin-left: auto;
      font-weight: normal;
      margin-right: 5px;
    }

    &.singular {
      padding: 5px 10px;
      padding-right: 0;
      width: calc(100% + 10px);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &:not(.singular) {
    p {
      font-weight: bold;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

ul {
  margin: 0;
  display: flex;
  flex-flow: column;
}

.selected {
  background-color: #f4f4f4;
  border-left: 3px solid #1161fe;
}
