<div class="dialog-wrapper">

<div class="dialog-header">
    <h1 mat-dialog-title>Create new device wizard</h1>
    <button mat-icon-button id="close"><mat-icon>close</mat-icon></button>
</div>

<mat-divider></mat-divider>

<div mat-dialog-content class="dialog-body">
    <mat-vertical-stepper [linear]="true" #matStepper>
        <mat-step>
            <form [formGroup]="createDeviceFormGroup">
                <ng-template matStepLabel>enter device details</ng-template>

                <p>Please select the model of the device which you wish to add, if you are unsure of the model check the <a [routerLink]="['/supported_devices']">supported devices</a> page for more information.</p>
                <mat-form-field>
                    <mat-label>device model</mat-label>
                    <mat-select #hardwareModelSelector matInput formControlName="device_model" required>
                        <mat-option class="models" *ngFor="let device of supportedDevices | keyvalue" [value]="device.key">
                            <p>{{device.value.model_name}}</p>
                            <p *ngIf="hardwareModelSelector.panelOpen">{{device.key}}</p>
                        </mat-option>
                    </mat-select>
                    <mat-error>must select device model</mat-error>  
                </mat-form-field>

                <p>Give your device a friendly name!</p>
                <mat-form-field>
                    <mat-label>device name</mat-label>
                    <input matInput formControlName="device_name" placeholder="" required autocomplete="off">
                    <mat-error>device is required to have a name</mat-error>  
                </mat-form-field>         
            </form>

            <app-load-button (click)="createDevice()" [disabled]="createDeviceFormGroup.invalid || cache.device.loading" [loading]="cache.device.loading">
                Create device
            </app-load-button>
            <mat-error class="form" *ngIf="cache.device.error">{{cache.device.error}}</mat-error>
        </mat-step>
    
        <mat-step>
            <ng-template matStepLabel>register the device on your network</ng-template>
            <p>
                In order for your device to send data to <i>my.corrhizal.net</i> it must have an active Wi-Fi connection, you will now connect to your device and upload your network credentials so that it may connect to the Internet.
            </p>
            <ul *ngIf="cache.device.data">
                <li>Set device into <b>AP mode</b></li>
                <li>Reboot device</li>
                <li>Disconnect from your current Wi-Fi connection, and connect to <b>{{cache.device.data.hardware_model}}-XXXX</b>, where <b>XXXX</b> will be random characters</li>
                <li>Go to your web-browser and go to <a href="">http://{{cache.device.data.hardware_model}}-XXXX.local/</a></li>
                <li>You will be prompted with a page where you can enter your network credentials</li>
                <li>Click <i>save</i></li>
                <li>Un-plug device, set into <b>Station mode</b> and plug back in, device will now attempt to connect to your network</li>
                <li>Re-connect back to your normal Wi-Fi station</li>
            </ul>

            <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>get device API key</ng-template>
            <p>Your device will require a private key to securely communicate with our servers. Below is the key that will now be uploaded to you device in a similar fashion to setting network credentials.</p>
            
            <b *ngIf="cache.key.data">It is important that you do not share this key with anyone.</b>
            <b *ngIf="cache.key.loading">Generating API key for device...</b>
            
            <pre *ngIf="cache.key.data">{{cache.key.data.key}}</pre>

            <div *ngIf="cache.key.data">
                <p>
                    If your device is connected to your network you will be able connect to it using the same address as previous:
                </p>
                <ul>
                    <li>Go to <a href="">http://mcn-wd1m-XXXX.local/</a></li>
                    <li>Copy the above key into the form text area</li>
                    <li>Click <i>save</i></li>
                    <li>Reboot the device</li>
                </ul>
                <button mat-button matStepperNext>Next</button>    
            </div>
        </mat-step>

        <mat-step optional>
            <ng-template matStepLabel>assign device to recordable</ng-template>
            <p>
                Please select a recordable to assign this device to, all recorded data will be associated with this plant/garden.
            </p>
            <mat-form-field>
                <mat-label>recordable name</mat-label>
                <mat-select formControlName="device_model">
                  <mat-option *ngFor="let device of supportedDevices | keyvalue" [value]="device.key">
                    {{device.key}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <button mat-button matStepperNext>Next</button>
        </mat-step>
    
        <mat-step>
            <ng-template matStepLabel>verify device active</ng-template>
            <p>
                Assuming your device is connected to the network, it will attempt to send a ping to our servers to let us know it's active
            </p>

            <p>Device state: <b>verified</b></p>
            <button mat-button matStepperNext>Next</button>
        </mat-step>    
    
        <mat-step>
            <ng-template matStepLabel>complete</ng-template>
            <p>Great, your device is now operational and recording data, if you wish to know more about devices please visit the <a href="">documentation</a> page.</p>
            <button mat-button matStepperNext>Finish</button>
        </mat-step>
    </mat-vertical-stepper>
</div>
</div>
