pre {
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

app-load-button {
    margin-right: 10px;
}

.dialog-wrapper {
    border-radius: 5px;
    overflow: hidden;
    .dialog-header {
        margin: 12px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            margin:  0;
        }
    }
    .dialog-body {
        margin: 20px 0 !important;
    }
}

mat-option.models {
    height: auto !important;

    ::ng-deep span.mat-option-text {
        height: auto !important;
        padding: 15px 0px !important;
        p {
            line-height: 1 !important;
            margin: 0 !important;
            &:nth-child(2) {
                margin-top: 4px !important;
                opacity: 0.7;
            }
        }
    }
}

