<div matRipple [style]="'padding-left: ' + depth * 25 + 'px'" [class.selected]="activeNode?._id == node._id">
  <div
    [id]="'depth-' + depth"
    class="item"
    [class.singular]="!node.children"
    [class.opened]="opened"
  >
    <button mat-icon-button *ngIf="node.children" [disabled]="node.children?.length == 0" (click)="toggleOpened()">
      <mat-icon>{{ opened ? "expand_less" : "expand_more" }}</mat-icon>
    </button>
    <p (click)="emit(node);onClick($event, node);" [class.singular]="!node.children">{{ node.name }} <span>{{node._id.substr(-6)}}</span></p>
  </div>

</div>

<div *ngIf="opened">
  <app-tree-node [activeNode]="activeNode" (selectedNode)="emit($event)" *ngFor="let n of node.children" [node]="n" [depth]="depth + 1"></app-tree-node>
</div>
