<app-thumb-wrapper
    [recordable]="plant"
    [type]="'plant'"
    [authorUser]="authorUser"
    [currentUser]="currentUser">
    <div class="title">
        <h1>{{plant.name}}</h1>
        <h3>{{plant._id}}</h3>
    </div>
    <mat-divider></mat-divider>
    <br />

    <mat-accordion class="object-meta">
        <app-loadable-panel
            [title]="'Plant information'"
            [loading]="cache.plant.loading"
            [hasData]="cache.plant.data != undefined"
            (onClick)="getPlantMeta()">
                <div *ngIf="cache.plant.data">
                    <p><b>Plant id:</b>{{cache.plant.data._id}}</p>
                    <p><b>Species:</b>{{cache.plant.data.species}}</p>
    
                    <p>
                        <b>Parameters:</b>
                        <span>
                            <span *ngFor="let parameter of cache.plant.data.parameters | keyvalue" class="parameter-item">{{parameter.key}} ({{parameter.value}})</span>
                        </span>
                    </p>     
                </div>
        </app-loadable-panel>        
      </mat-accordion>
</app-thumb-wrapper>



