.app-content {
    height: 100vh;
    overflow: scroll;
    padding: 40px 80px;
    background-color: whitesmoke;
    display: flex;
    .left {
        margin-right: 50px;
    }
    .right {
        width: 50%;
    }
}