.app-container {
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
}
.app-content {
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    .left {
    }
    .right {
        width: 100%;
    }
}