<mat-card class="thumb-wrapper-container" [class.mini]="mini">
    <div class="left">
        <img *ngIf="thumbItem.thumbnail && mini" class="blur-bg" [src]="thumbItem.thumbnail" />
        <img *ngIf="thumbItem.thumbnail" [src]="thumbItem.thumbnail" />
        <div *ngIf="!thumbItem.thumbnail" class="placeholder"><mat-icon>{{thumbPlaceholderIcon}}</mat-icon></div>
    </div>
    <div class="right" *ngIf="!mini">
        <ng-content class="thumb-wrapper-content"></ng-content>
        <br />
        <mat-card-actions>
            <div class="thumb-wrapper-social">
                <button mat-icon-button>
                    <mat-icon>reply</mat-icon>
                    <span>{{thumbItem.meta.replies}}</span>
                </button>    
                <button mat-icon-button [class.hasReposted]="thumbItem.meta.hasReposted" [popoverTriggerFor]="repostMenu">
                    <mat-icon>repeat</mat-icon>
                    <span>{{thumbItem.meta.reposts}}</span>

                </button>
                <button mat-icon-button [class.isHearting]="thumbItem.meta.isHearting" (click)="toggleHeartingState()">
                    <mat-icon>{{thumbItem.meta.isHearting ? 'favorite' : 'favorite_border'}}</mat-icon>
                    <span>{{thumbItem.meta.hearts}}</span>
                </button>
            </div>       
            <button mat-button class="view-comments-button">view comments</button>
            <button mat-button color="primary" (click)="gotoItem()">inspect</button>
        </mat-card-actions>
    </div>

    <div class="mini-footer" *ngIf="mini">
        <p>{{thumbItem.name}}</p>
        <button mat-button [color]="'primary'">
            <mat-icon inline>device_hub</mat-icon>
            &nbsp;view {{user.username}}'s {{type}}s
        </button>
    </div>
</mat-card>


<popover #repostMenu>
    <div class="repost-menu" [class.repost-menu-open]="repostMenuOpen">
        <button mat-button (click)="repost()">
            <mat-icon inline>repeat</mat-icon>
            {{thumbItem.meta.hasReposted ? 'Undo repost' : 'Repost'}} 
        </button>
        <button mat-button (click)="openRepostDialog()">
            <mat-icon inline>edit</mat-icon>
            Repost with comment
        </button>
    </div>        
</popover>