.thumb-wrapper-container {
    display: flex;
    flex-flow: row;
    padding: 0;
    min-height: 15vh;
    align-items: stretch;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    .left {
        position: relative;
        width: 30%;
        background-color: lighten(lightgrey, 10%);
        background-size: cover;
        background-position: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .placeholder {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            mat-icon {
                opacity: 0.5;
                transform: scale(3);
            }
        }
    }
    .right {
        flex: 1 1;
        margin: 20px;
        display: inline-flex;
        flex-flow: column;
    }
}

mat-spinner {
    margin: 0 auto;
}

mat-card-actions {
    margin: 0;
    margin-top: auto;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    button {
        margin-right: 0;
    }
    .view-comments-button {
        opacity: .8;
    }
    .thumb-wrapper-social {
        .isHearting { color: rgb(224, 36, 94); }
        .hasReposted { color: rgb(23, 191, 99); }
        button {
            margin-right: 10px;
        }
        span {
            margin-left: 5px;
        }
    }
}

.thumb-wrapper-container.mini {
    width: 100%;
    min-height: 0px;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    position: relative;
    display: flex;
    flex-flow: column;
    mat-card-actions {
        display: none;
    }
    .left {
        position: relative;
        height: 500px;
        width: 100%;
        img {
            height: 500px;
            width: 100%;
            object-fit: contain;
            object-position: top;    
            z-index: 9;
            position: relative;
        }
        .blur-bg {
            left: 0;
            width: 100%;
            height: 500px;
            position: absolute;
            object-fit: cover;
            object-position: center;
            filter: brightness(1.2) blur(20px);
            transform: scale(1.2);
        }
    }
    .mini-footer {
        z-index: 9;
        background: white;
        padding: 10px 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        * {
            margin: 0
        }
    }
}
