<div class="page-loader" [class.loading]="loading">
  <img src="/assets/leaf.png">
</div>

<div *ngIf="!loading">
  <div class="landing-wrapper" *ngIf="!currentUser">
    <div class="landing-cover">
      <img class="landing-cover-image" src="/assets/cover.jpg">
      <img class="landing-cover-image__blur" src="/assets/cover.jpg">
      <div class="landing-cover-gradient"></div>

      <div class="landing-content">
        <div class="landing-header">
          <div class="left">
            <img src="/assets/leaf.png" />
            <div>
              <h1>mcn</h1>
              <p>my.corrhizal.net</p>
            </div>
          </div>

          <div class="center"></div>

          <div class="right" *ngIf="!loading">
            <ui-button *ngIf="!currentUser" size="s" transparent="true" variant="accent" icon="login" (click)="openDialog('login')">Sign in</ui-button>
            <ui-button *ngIf="!currentUser" size="s" transparent="true" variant="accent" icon="user" (click)="openDialog('register')">Register</ui-button>

            <app-header-user-button variant="accent" transparent="true" [currentUser]="currentUser" *ngIf="currentUser"></app-header-user-button>
            <ui-button id="enter" *ngIf="currentUser" size="m" variant="primary" icon="arrow--right" (click)="setEntered(true)"></ui-button>
          </div>
        </div>

        <div class="landing-cover-body">
          <h1>
            <b>All-in-one solution for vertical farming</b><br />
            IoT & agritech combined.
          </h1>

          <div class="landing-body-buttons">
            <ui-button variant="secondary" icon="download">Download</ui-button>
            <ui-button variant="accent" icon="arrow--right">Get started</ui-button>
          </div>
        </div>
      </div>
    </div>

    <div class="landing-body">

      <p id="tagline">
        <b>mcn</b> empowers farmers with a simple, affordable and turnkey solution
        that de-risks their operations and extracts more value from the crop.

        The system predicts and informs farmers about the right time to harvest and
        related logistics, predict diseases and improve yields, and automates farm
        tasks based on real-time crop needs.
      </p>

      <h1 id="features">
        Features
      </h1>

      <div class="landing-images">
        <div class="landing-image" style="background-image:url('/assets/landing/code.jpg')">
          <div class="landing-image__content">
            <h2>Predict</h2>
            <p>Utilise advanced heuristics to enhance growth and overall yields.</p>
          </div>
        </div>

        <div class="landing-image" style="background-image:url('/assets/landing/n4j.png')">
          <div class="landing-image__content">
            <h2>Monitor</h2>
            <p>Collect data across vertical farming infrastructure with open-source, extensible IoT devices.</p>
          </div>
        </div>

        <div class="landing-image" style="background-image:url('/assets/landing/plants.jpg')">
          <div class="landing-image__content">
            <h2>Orchestrate</h2>
            <p>Precisely manage, tune & control crop environment via custom task routines.</p>
          </div>
        </div>

        <div class="landing-image" style="background-image:url('/assets/landing/screenshot.png')">
          <div class="landing-image__content">
            <h2>Track</h2>
            <p>View live updates and camera feeds of farm conditions, with alerts sent via e-mail or SMS.</p>
          </div>
        </div>
      </div>


      <div class="dual-section">
        <div class="left">
          <h1>Try mcn<br/>today</h1>
          <p>
            Our full-featured vertical farming management system.<br/>
            One secure, flexible platform.
          </p>
          <ui-button variant="secondary" size="m">Discover&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/leaf.png"></ui-button>
        </div>

        <div class="right">
          <h1>Got<br/>questions?</h1>
          <p>
            We've got the right answer to them,<br/>
            just message us!
          </p>
          <ui-button variant="secondary" size="m">Ask us&nbsp;&nbsp;&nbsp;&nbsp;<ui-icon>arrow--right</ui-icon></ui-button>
        </div>
      </div>

      <app-footer [small]="true"></app-footer>
    </div>
  </div>

  <app-wrapper *ngIf="currentUser">
    <router-outlet></router-outlet>
  </app-wrapper>
</div>
