.page-loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: white;
  img {
    max-height: 10vh;
    filter: invert(1);
  }

  &.loading {
    opacity: 1;
  }
  transition: 0.2s;
  &:not(.loading) {
    opacity: 0;
    z-index: -9999;
  }
}

.landing-wrapper {
  display: flex;
  flex-flow: column;
  overflow: scroll;

  .landing-cover {
    height: 45vh;
    background-position: center;
    position: relative;
    overflow: hidden;

    .landing-cover-image {
      position: absolute;
      max-height: 100%;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 9;
    }

    .landing-cover-image__blur {
      position: absolute;
      max-width: 100%;
      left: 0;
      right: 0;
      margin: auto;

      filter: blur(10px);
      transform: scale(1.2);
    }

    .landing-cover-gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
      background: linear-gradient(black, transparent);
    }

    .landing-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;

      .landing-header {
        margin: 15px 40px;
        display: flex;
        max-height: 48px;
        align-items: center;
        justify-content: space-between;

        .left,
        .right,
        .center {
          max-height: 48px;
          flex: 1;
          display: flex;
          align-items: center;
          padding: 10px;
        }

        .left {
          color: white;

          div {
            max-height: 38px;

            h1 {
              margin: 0;
              margin-top: -2px;
              margin-bottom: 4px;
              color: white;
              font-size: 28px;
              line-height: 0.7;
            }

            p {
              margin: 0;
            }
          }

          img {
            max-height: 38px;
            width: auto;
            margin-right: 10px;
          }
        }

        .right {
          justify-content: flex-end;

          ui-button {
            ::ng-deep .mat-button-wrapper {
              color: white !important;
            }

            margin-left: 5px;
          }
        }

        .center {
          justify-content: center;
        }
      }

      .landing-cover-body {
        width: 100%;
        height: calc(100% - 78px);
        display: flex;
        flex-flow: column;
        justify-content: center;
        color: white;

        h1 {
          text-align: center;
        }

        .landing-body-buttons {
          display: flex;
          justify-content: center;

          ui-button {
            margin: 10px 10px;
          }
        }
      }
    }
  }

  .landing-body {
    margin: 10vw;
  }
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    flex-flow: column !important;
    overflow: scroll;

    .side {
      width: 100%;

      &.left {
        height: 80vh;

        .content-wrapper {
          margin: 10vh 0;
        }
      }

      &.right {
        padding: 0;

        .content-wrapper {
          margin: 10vh auto;
          padding: 0;
        }
      }
    }
  }
}

#user-button {
  display: flex;
  flex-flow: column;
  img {
    max-height: 38px;
    border-radius: 50%;
  }
  div {
    line-height: 1.3;
    text-align: left;
    margin-left: 10px;
    span {
      opacity: 0.8;
    }
  }
}
