<div class="supported-devices-container">
  <h1>supported devices</h1>
  <br />
  <br />

  <!-- WEMOS D1 MINI HAT -->
  <div class="device">
    <div class="left">
      <img
        src="https://cdn.discordapp.com/attachments/264522461943562244/704820132312252426/IMG_0028.JPG"
      />
    </div>
    <div class="right">
      <h2>
        Wemos D1 Mini -
        <pre>mcn-wd1m</pre>
      </h2>
      <p>
        <b>mcn HAT</b> for the Wemos D1 Mini, custom designed and manufactured
        by <i>daughter.systems</i>.
      </p>
      <ul>
        <li>.49" OLED display</li>
        <li>
          VEML7700, very high-sensitivity, high-accuracy ambient light sensor
        </li>
        <li>
          DHT22, temperature (-40 to 80°C ±0.5C) and humidity (0-100% ±2-5%)
          sensor
        </li>
        <li>Capacitive sensing moisture sensor</li>
      </ul>
      <div class="device-meta">
        <button mat-raised-button color="primary">
          <mat-icon inline>shopping_cart</mat-icon><span>Purchase</span>
        </button>
        <button mat-raised-button>
          <mat-icon inline>description</mat-icon><span>Documentation</span>
        </button>
        <button mat-raised-button>
          <mat-icon inline>code</mat-icon><span>Source Code</span>
        </button>
      </div>
    </div>
  </div>
</div>
