.header-bar {
    background: white;
    width: 100%;
    z-index: 2;
    padding: 15px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    .search-bar {
        width: 50%;
        background-color: whitesmoke;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 10px;
        mat-icon {
            margin-right: 20px;
            margin-top: 5px;
            margin-left: 5px;
        }
        input {
            margin: 0;
            height: 100%;
            font-size: 19px;
            outline: 0;
            border: 0;
            background-color: transparent;
            width: 100%;
        }
    }


    .header-bar-control {
        .header-bar-thumb {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background-color: whitesmoke;
            // background-color: lighten(lightgrey, 10%);
            padding: 8px;
            border-radius: 30px;
            transition: .2s;
            &:hover {
                box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
            }
            img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
            p {
                margin: 0;
                margin-left: 10px;
                font-size: 18px;
                opacity: .8;
                padding-right: 20px;
            }    
        }


        .user-menu {
            position: absolute;
            background-color: white;
            padding: 10px 0;
            top: 80px;
            right: 50px;
            border-radius: 10px;
            border: 1px solid lightgrey;
            box-shadow: 0 10px 20px rgba(32, 34, 37, 0.1);
            width: 400px;
            display: flex;
            flex-flow: column;
            transition: opacity 0.2s, height 0s;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            height: 0;
            z-index: 10;

            mat-divider {
                position: relative;
                margin-top: 10px;
                padding: 5px 0;
            }
            
            &.visible {
                opacity: 1 !important;
                visibility: visible !important;
                height: auto !important;
            }
            button {
                display: flex;
                flex-flow: row;
                align-items: center;
                opacity: 0.6;
                width: 100%;
                font-size: 15px;
                padding: 10px 20px;
                text-decoration: none;
                color: #000;
                transition: 0.2s;
                p {
                    margin: 0;
                    display: inline-flex;
                    flex-flow: column;
                    text-align: left;
                    line-height: 1.3; 
                    span {
                        opacity: .8;
                        font-weight: normal;
                    }
                }
                mat-icon {
                    min-width: 50px;
                    transform: scale(1.3);
                    margin-left: -10px;
                    margin-right: 10px;
                    margin-top: 3px;
                }
                &:hover {
                    background: whitesmoke;
                }
            }
        }
    }
}

.copyright {
    width: 100%;
    text-align: center;
    opacity: .3;
    margin: 0;
    margin-top: 4px;
}