<div class="header-bar">
    <div class="search-bar">
        <mat-icon>search</mat-icon>
        <input matInput placeholder="Search mcn...">
    </div>

    <div class="header-bar-control" >
        <div class="header-bar-thumb" (click)="openUserMenu()">
            <img [src]="currentUser.avatar" />
            <p>{{currentUser.name}}</p>    
        </div>
        <div class="user-menu" [class.visible]="userMenuOpen" (clickOutside)="hideUserMenu()" [exclude]="'.header-bar-thumb'">

            <button mat-button (click)="gotoSettings()">
                <mat-icon inline>settings</mat-icon>
                <p>
                    Settings & privacy
                </p>
            </button>

            <button mat-button (click)="gotoDocumentation()">
                <mat-icon inline>collections_bookmark</mat-icon>
                <p>
                    Documentation
                    <span>Learn how to create things</span>    
                </p>
            </button>

            <mat-divider></mat-divider>

            <button mat-button (click)="logout()">
                <mat-icon inline>exit_to_app</mat-icon>
                <p>
                    Logout
                </p>
            </button>

            <p class="copyright">copyright <b>daughter.systems</b> (2020)</p>
        </div>
    </div>
</div>