::ng-deep {
    .bx--header__name--prefix {
        display: none !important
    }

    .bx--header {
        position: relative;

        img {
            &.icon {
                position: absolute;
                left: 12px;
                padding: 10px;
                padding-left: 0;
            }

            max-height: 100%;
            max-width: 100%;
        }
    }

    .bx--header__name {

        &::before {
            content: "mcn ·";
            font-weight: normal;
            padding-left: 50px !important;
            margin-right: 4px;
        }
    }
}

.header-bar-thumb {
    ::ng-deep .bx--header__action {
        width: auto;
        display: flex;
        align-items: center;
        color: white;
        padding: 5px 10px;
    }

    img {
        border-radius: 50%;
        width: 34px;
        height: 34px;
    }

    span {
        margin-left: 10px;
    }

    overflow: hidden;
}

mat-icon {
    color: white;
}