<h1>Device states</h1>
<mat-divider></mat-divider>
<br />
<div *ngIf="cache.states.data">
    <mat-table [dataSource]="cache.states.data">
        <!-- Position Column -->
        <ng-container matColumnDef="ref">
          <mat-header-cell *matHeaderCellDef> Reference </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ref}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
      
        <!-- Set value Column -->
        <ng-container matColumnDef="set-value">
          <mat-header-cell *matHeaderCellDef> Set state </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span [ngSwitch]="">
            <p *ngSwitchCase="true">
            
            </p>
            <p *ngSwitchCase="false">
            
            </p>
            <p *ngSwitchDefault>
            
            </p>
            </span>

          </mat-cell>
        </ng-container>
            
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
</div>

