.list-wrapper {
  padding: 0;
  display: flex;
  flex-flow: row;
  .table-wrapper,
  .device-info-wrapper {
    width: 50%;
    max-height: 100%;
    overflow: scroll;
  }
}

.top-bar {
  display: flex;
  align-items: center;
  margin-left: 0;
  width: 100% !important;
  .fill {
    width: 80%;
  }
  ui-button ::ng-deep button {
    padding-right: 30px !important;
  }
  ui-icon {
    margin-right: 10px;
    transform: scale(0.7);
  }
}

::ng-deep mat-cell.mat-column-select {
  flex: 0 0 60px;
}
::ng-deep mat-header-cell.mat-column-select {
  flex: 0 0 60px;
}

mat-paginator {
  width: 100%;
}

mat-row,
mat-header-row {
  border-left: 4px solid transparent;
}
.active {
  border-left: 4px solid #105ff9;
}
