  <h1>hey {{currentUser.username}}!</h1>
  <p>a couple of steps need to be completed before you can start browsing</p>

  <mat-vertical-stepper [linear]="true" #matStepper>

    <mat-step [stepControl]="avatarImageFormGroup" optional>
      <div class="selected-image-container">
        <div class="image-wrapper">
          <img src={{selectedImage}} id="avatar-preview"/>
        </div>
      </div>

      <form [formGroup]="avatarImageFormGroup">
        <ng-template matStepLabel>upload an avatar</ng-template>

        <input hidden (change)="onAvatarFileSelected()" #fileInput type="file" id="file" formControlName="avatar">
        <button mat-raised-button [color]="fileTypeError ? 'warn' : 'primary'" (click)="fileInput.click()" class="select-file">
            <mat-icon inline="true">attach_file</mat-icon>
            {{buttonText}}
        </button>

        <button mat-icon-button *ngIf="hasSelectedImage" class="clear-avatar" (click)="clearAvatar()">
          <mat-icon>clear</mat-icon>
        </button>

        <p>images must be &lt;500kb in size & either jpg or png</p>

        <div class="avatar-submit">
          <ui-load-button
            [color]="hasSelectedImage ? (errorMessage ? 'warn' : 'primary') : 'secondary'"
            [loading]="loading"
            [disabled]="loading"
            (onClick)="handleUploadImage()">{{hasSelectedImage ? (errorMessage ? 'error' : 'upload!') : 'skip'}}</ui-load-button>
          <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="userNameFormGroup">
      <form [formGroup]="userNameFormGroup">
        <ng-template matStepLabel>add your name</ng-template>
        <mat-form-field>
          <mat-label>full name</mat-label>
          <input matInput formControlName="name" placeholder="" required autocomplete="off">
          <mat-error>name is required</mat-error>
        </mat-form-field>
        <div>

          <ui-load-button
            [color]="errorMessage ? 'warn' : 'primary'"
            [disabled]="!userNameFormGroup.dirty || loading"
            [loading]="loading" (onClick)="handleSubmitName()">
              continue
          </ui-load-button>
          <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>

        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>finish!</ng-template>
      <h3>welcome <b>{{userNameFormGroup.get('name').value}}</b>, you're ready to start browsing, for your information here are a few links to aid you along:</h3>
      <ul>
        <li>adding plants: <a href="#">https://my.corrhizal.net/docs/adding-plants</a></li>
        <li>configuring devices: <a href="#">https://my.corrhizal.net/docs/device-config</a></li>
      </ul>
      <div>
        <br />
        <button mat-raised-button color="primary" (click)="finishFirstTimeSetup()">lets go 🌱</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>
