<div class="create-post">
    <div class="left">
        <img src="https://media.discordapp.net/attachments/635544732939976724/699731547539898468/IMG_0029.JPG?width=1138&height=1515">
    </div>
    <div class="right">
        <form [formGroup]="createPostForm" class="create-post-form">
            <mat-form-field>
              <mat-label>what's up {{user.name}}?</mat-label>
              <textarea matInput type="text" formControlName="content"
                cdkTextareaAutosize
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="5">
            </textarea>
        
            </mat-form-field>
            <div class="create-post-actions">
                <div class="create-post-icons">
                    <button mat-icon-button [disabled]="loading"><mat-icon>perm_media</mat-icon></button>
                    <div class="emoji-picker">
                        <button mat-icon-button
                            (click)="toggleEmojiPicker()"
                            [disabled]="loading">
                            <mat-icon>sentiment_satisfied_alt</mat-icon>
                        </button>
                        <emoji-mart title="" emoji="wave" *ngIf="emojiPickerVisible"
                            (emojiClick)="addEmoji($event)"
                            [darkMode]="false"
                        ></emoji-mart>            
                    </div>
                </div>
        
                <div class="word-count-and-submit">
                    <span>{{content.length}}/{{CHARACTER_LIMIT}}</span>
                    <app-load-button (onClick)="createPost()" [disabled]="createPostForm.invalid || loading" [loading]="loading">{{loading ? 'sending...' : 'create post'}}</app-load-button>    
                </div>
            </div>
          </form>
    </div>
</div>