.post-thumb-container {
    transition: 0.2s;
    display: flex;
    flex-flow: column;
    position: relative;
    margin-bottom: 20px;
    .post-options-dropdown-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 999;
    }
    .repost-line {
        display: inline-flex;
        align-items: center;
        opacity: 0.7;
        mat-icon {
            margin-right: 5px;
        }
    }
    &:hover {
        background-color: lighten(whitesmoke, 5%);
        cursor: pointer;
    }

    .post-thumb-content {
        display: flex;
        .left {
            padding-right: 10px;
            img {
                height: 70px;
                width: 70px;
                object-fit: cover;
                border-radius: 50%;
                overflow: hidden;
            }
        }
        .right {
            font-size: 18px;
            width: 100%;
            border: 1px solid lightgrey;
            border-radius: 10px;
            padding: 20px;        
            padding-bottom: 5px;
            p:last-child {
                margin-bottom: 0;
            }
        }    
        mat-card-actions {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            button {
                display: inline-flex;
                align-items:center;
                span {
                    margin-left: 5px;
                }
            }
        }
    }
}

.repost {
    width: 100%;
    display: flex;
    app-post-thumb {
        width: 100%;
        mat-card {
            width: 100%;
            flex: 1;
        }    
    }
}