<div>
    <!-- post / repost with a comment  -->
    <div class="post-thumb-container" [class.mini]="mini" *ngIf="post.content" (click)="gotoPost()">
        <button *ngIf="repostType != 'repost'"
            (click)="openPostOptionsPopover($event)"
            mat-icon-button
            class="post-options-dropdown-icon">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        
        <p *ngIf="repostType == 'repost'" class="repost-line">
            <mat-icon>repeat</mat-icon> {{parentAuthor.name}} Reposted 
        </p>

        <div class="post-thumb-content">
            <div class="left">
                <img src="{{author.avatar}}">
            </div>
            <div class="right">
                <p><b>{{author.name}}</b> <span>@{{author.username}} · {{ post.created_at | amTimeAgo}}</span></p>
                
                <div *ngIf="!post.repostType">
                    <p>{{post.content}}</p>
                </div>

                <div *ngIf="post.repost" class="repost" (click)="$event.stopPropagation()">

                    <app-post-thumb *ngIf="post.repost.type == 'repost-post'"
                        [mini]="true"
                        [post]="post.repost.content"
                        [author]="post.repost.author"
                        [currentUser]="currentUser"
                        [repostType]="'repost-comment'">
                    </app-post-thumb>                        

                    <div *ngIf="post.repost.type == 'repost-recordable'">
                        <p>{{post.content.content}}</p>
                    </div>

                    <div class="device-mini" *ngIf="post.repost.type == 'repost-device'">
                        <p class="mini-header"><img src="{{post.repost.author.avatar}}"><b>{{post.repost.author.name}}</b> <span>@{{post.repost.author.username}} · Created {{ post.repost.content.created_at | amTimeAgo}}</span></p>
                        <mat-divider></mat-divider>
                        <app-device-thumb
                            [mini]="true"
                            [device]="post.repost.content"
                            [profileUser]="post.repost.author"
                            [currentUser]="currentUser">
                        </app-device-thumb>    
                    </div>
                </div>
            
                <app-postable-social-actions *ngIf="!repostType && !mini"
                    [justify]="true"
                    [postable]="post"
                    [type]="'post'"
                    [authorUser]="author"
                    [currentUser]="currentUser">
                </app-postable-social-actions>
            </div>    
        </div>
    </div>
    
    <!-- just a straight re-post -->
    <div *ngIf="post.repost && !post.content">
        <app-post-thumb
            [post]="post.repost.content"
            [author]="post.repost.author"
            [currentUser]="currentUser"
            [parentAuthor]="author"
            [repostType]="'repost'"
        ></app-post-thumb>    
    </div>
</div>
