<div>
    <!-- post / repost with a comment  -->
    <div class="post-thumb-container" (click)="gotoPost()" *ngIf="post.content">
        <button *ngIf="repostType != 'repost'" mat-icon-button class="post-options-dropdown-icon"><mat-icon>keyboard_arrow_down</mat-icon></button>
        <p *ngIf="repostType == 'repost'" class="repost-line">
            <mat-icon>repeat</mat-icon> {{parentAuthor.name}} Reposted 
        </p>

        <div class="post-thumb-content">
            <div class="left">
                <img src="{{author.avatar}}">
            </div>
            <div class="right">
                <p><b>{{author.name}}</b> @{{author.username}} · {{ post.created_at | amTimeAgo}}</p>
                
                <div *ngIf="!post.repostType">
                    <p>{{post.content}}</p>
                </div>

                <div *ngIf="post.repostType">
                    <div *ngIf="post.repost.type == 'repost-post'">
                        <p>{{post.content.content}}</p>
                    </div>

                    <div *ngIf="post.repost.type == 'repost-recordable'">
                        <p>{{post.content.content}}</p>
                    </div>

                    <div *ngIf="post.repost.type == 'repost-device'">
                        <p>{{post.content.content}}</p>
                    </div>
                </div>
    
                <!-- repost with comment post -->
                <div class="repost" *ngIf="post.repost">
                    <app-post-thumb *ngIf="post.repost.type == 'repost-post'"
                        [post]="post.repost.content"
                        [author]="post.repost.author"
                        [currentUser]="currentUser"
                        [repostType]="'repost-comment'">
                    </app-post-thumb>                    
                </div>
        
                <mat-card-actions *ngIf="!repostType">
                    <button mat-icon-button>
                        <mat-icon>reply</mat-icon>
                        <span>{{post.meta.replies}}</span>
                    </button>
                    <button mat-icon-button (click)="heart()">
                        <mat-icon>{{post.meta.isHearting ? 'favorite' : 'favorite_border'}}</mat-icon>
                        <span>{{post.meta.hearts}}</span>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>share</mat-icon>
                        <span>{{post.meta.reposts}}</span>
                    </button>
                </mat-card-actions>
            </div>    
        </div>
    </div>
    
    <!-- just a straight re-post -->
    <app-post-thumb *ngIf="post.repost && !post.content"
        [post]="post.repost.content"
        [author]="post.repost.author"
        [currentUser]="currentUser"
        [parentAuthor]="author"
        [repostType]="post.content ? 'repost-comment' : 'repost'"
    ></app-post-thumb>    
</div>
