<div *ngIf="userOrgs.length == 0" class="no-orgs">
  <h1>No organisations found</h1>
  <p>
    Looks like you're not in any organisations,
    <a routerLink="/orgs/create">create</a> or <a routerLink="">join</a> one now.
  </p>
</div>

<div *ngIf="userOrgs.length && currentOrg">
  <div class="index-cover">
    <div
      class="tile-container"
      *ngFor="let item of coverCards"
      (click)="navigate(item.title)"
    >
      <mat-card [class.selected]="item.title.toLowerCase() == activeUrl">
        <mat-icon>{{ item.icon }}</mat-icon>
        <h2>{{ item.title }}</h2>
        <h1>12</h1>
      </mat-card>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
