<div class="wrapper" *ngIf="!currentUser || currentUser.new_user">
    <div class="left side">
        <div class="content-wrapper">
            <div class="content">
                <img src="/assets/leaf.png" />

                <div class="information">
                    <h1 class="mat-display-2">mcn</h1>
                    <p>a social network and management system for gardeners, plant growers and hobbyists alike.</p>
                    <app-rounded-button [color]="'primary'">create account</app-rounded-button>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>copyright <b>daughter.systems</b> (2020)</p>
        </div>        
    </div>

    <div class="right side">
        <div class="content-wrapper">
            <div *ngIf="!currentUser">
                <div class="content">
                    <app-login></app-login>
                    <!-- <app-register *ngIf="group.value == 'register'"></app-register> -->
                </div>
            </div>

            <div *ngIf="currentUser && currentUser.new_user">
                <app-first-time-setup></app-first-time-setup>
            </div>
        </div>
    </div>
</div>

<app-feed *ngIf="currentUser && !currentUser.new_user"></app-feed>
