.wrapper {
    display: flex;
    flex-flow: row;
    height: 100vh;
}
.side {
    display: inline-flex;
    flex-flow: column;
    width: 50%;
    height: 100%;
}

.content-wrapper {
    margin: auto;
    height: 70%;
    width: 80%;
    position: relative;
}

.left {
    justify-content: center;
    background-color: whitesmoke;
    background-image: url(https://i.pinimg.com/originals/7d/96/28/7d962876b347b2ece43d339fd20fad9f.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    .content-wrapper {
        background: white;
        width: 100% !important;
        height: auto !important;
        padding: 60px 80px;
        margin-top: 20vh;
        .content {
            display: flex;
            flex-flow: row;
            margin-left: 5vw;
            img {
                height: 10vh;
                max-height: 130px;
                filter: brightness(0);
                padding-right: 45px;
            }

            .information {
                width: 80%;
                margin-top: 20px;
                h1 {
                    font-family: 'Poppins', sans-serif;
                    margin-bottom: 10px;
                    font-weight: bold;
                    padding-right: 5vw;
                    line-height: 0.8;
                    font-size: 60px;
                }
                p {
                    width: 80%;
                    opacity: .6;
                    font-size: 24px;
                    line-height: 1.2;
                    margin-bottom: 30px;
                }
            }
        }
    }
    .copyright {
        position: absolute;
        bottom: 20px;
        z-index: 9;
        width: 100%;
        color: white;
        text-align: center;
    }
}

.right {
    .content-wrapper {
        display: flex;
        flex-flow: column;
        padding-top: 10vh;
        .selector {
            align-self: flex-end;
            margin-left: auto;
        }
        .content {
            display: block;
        }    
    }
}