<div class="feed-sidebar">
    <button mat-button *ngFor="let item of feedSidebar" class="feed-sidebar-button">
        <div class="contents">
            <mat-icon [inline]="true"  fontSet="material-icons-outlined">{{item[0]}}</mat-icon>
            <h2>{{item[1]}}</h2>    
        </div>
    </button>

    <button mat-button class="feed-sidebar-button">
        <div class="contents">
            <img src="currentUser.avatar">
            <h2>Profile</h2>    
        </div>
    </button>
</div>