.feed-sidebar {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.feed-sidebar-button {
    background: white;
    width: 250px;
    margin-bottom: 10px;
    border-radius: 50px;
    transition: 0.2s;
    &:last-child {
        margin-top: auto;
        margin-bottom: 30px;
    }
    &:hover {
        background-color: rgba(103,58,183, 0.1);
        color: rgba(103,58,183, 0.8);
    }
    .contents {
        padding: 10px;
        display: flex;
        align-items: center;
        h2 {
            margin: 0;
            font-weight: normal;
            letter-spacing: 1px;
            margin-left: 20px;
        }
        mat-icon {
            font-size: 25px;
        }
    }
}