.sidebar {
    box-shadow: 0 10px 20px rgba(32, 34, 37, .10);
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: white;
    z-index: 9999;
    position: relative;
    font-family: "Poppins", sans-serif;
    width: 48px;
    position: relative;

    .sidebar-buttons {
        max-width: 48px;
        overflow: hidden;
        background: #262626;
        z-index: 999;
        height: 100%;
        border-left: 1px solid transparent;

        &.open {
            border-right: 1px solid rgb(141, 139, 139);
        }
    }
}

.active {
    overflow: hidden;
    z-index: 999;
    border-right: 2px solid rgba(103, 58, 183, 0.8) !important;
}


button {
    width: 48px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;

    mat-icon {
        opacity: .7;
    }
}

.sidebar .nav {
    width: 300px;
    position: absolute;
    background: #262626;
    height: 100%;
    color: white;
    transform: translateX(-300px);
    transition: .5s;
    will-change: transform;
    user-select: none;

    &.open {
        transform: translateX(48px);
    }
}