.sidebar {
  box-shadow: 0 10px 20px rgba(32, 34, 37, 0.1);
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: white;
  z-index: 9999;
  position: relative;
  width: 48px;

  .sidebar-buttons {
    max-width: 48px;
    overflow: hidden;
    background: #262626;
    z-index: 999;
    height: 100%;
    border-left: 1px solid transparent;
    ::ng-deep {
      .mat-button {
        opacity: 0.5;
        padding: 0;
        height: 48px;
        width: 47px;
        .mat-button-wrapper {
          justify-content: center;
        }
        &:hover,
        &.active {
          opacity: 1;
        }
      }
    }

    &.open {
      border-right: 1px solid rgb(141, 139, 139);
    }
  }
}

.sidebar .nav {
  width: 300px;
  position: absolute;
  height: 100%;
  transform: translateX(-300px);
  transition: 0.5s;
  will-change: transform;
  user-select: none;

  &.open {
    transform: translateX(48px);
  }
}
