<div class="sidebar">
  <div class="sidebar-buttons" [class.open]="sidebarMenuOpen">
    <ibm-hamburger
      [active]="sidebarMenuOpen"
      (selected)="toggleSidebarMenu()"
    ></ibm-hamburger>
    <div *ngFor="let item of sidebarItems; let i = index">
      <button [ibmButton]="'secondary'" (click)="changeRoute(i)">
        <mat-icon fontSet="material-icons-outlined">{{ item[0] }}</mat-icon>
      </button>
    </div>
  </div>

  <app-sidebar-nav
    #nav
    class="nav"
    [class.open]="sidebarMenuOpen"
  ></app-sidebar-nav>
</div>
