<div *ngIf="!success">
  <h1 class="mat-display-1">already have an account?</h1>

  <form [formGroup]="loginForm" [hidden]="success" (ngSubmit)="submitHandler()">
		<ibm-label
			[invalid]="errors.email"
      [invalidText]="errors.email">
      e-mail
      <input
        formControlName="email"
				ibmText
				[invalid]="false"
				[autocomplete]="false">
		</ibm-label>
    
    <br />

		<ibm-label
			[invalid]="errors.password"
      [invalidText]="errors.password">
      password
      <input
        formControlName="password"
        ibmText
        type="password"
				[invalid]="false"
				[autocomplete]="false">
		</ibm-label>

    <br />

    <app-load-button [loading]="loading">
      <span>log in</span>
    </app-load-button>

    <mat-error class="form" *ngIf="errors.form">{{errors.form}}</mat-error>
  </form>

  <br/>
  <a class="mat-small help" href="#">trouble logging in?</a>  
</div>

<div *ngIf="success">
  <h1 class="mat-display-1">logged in!</h1>
</div>