.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 48px;
    overflow: hidden;

    ibm-loading {
        ::ng-deep .bx--loading__stroke {
            stroke: #fff !important;
        }    
    }

    mat-icon {
        margin-right: 10px
    }
}