<div class="list-wrapper">
  <div class="table-wrapper">
    <ui-section-header title="Farms" subtitle="Rack management">
    </ui-section-header>

    <mat-table *ngIf="farms.data" [dataSource]="farms.data">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef> _id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element._id}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="racks">
        <mat-header-cell *matHeaderCellDef>Racks </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.racks}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="farms.tableRows; sticky: true"></mat-header-row>
      <mat-row (click)="openFarmDetail(row)" *matRowDef="let row; columns: farms.tableRows;"></mat-row>
    </mat-table>
  </div>

  <div class="farm-info-wrapper" *ngIf="isOutletting" [@detailExpand]>
    <div class="farm-info">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
