app-thumb-wrapper {
    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        * { margin: 0 }
        margin-bottom: 15px;
        h3 {
            opacity: 0.5;
            line-height: 0.7;
        }
    }
    button {
        margin-top: auto;
        margin-left: auto;
    }
    mat-divider {
        position: relative !important;
    }    
}

.object-meta {
    mat-expansion-panel p {
        display: flex;
        .recording-item:not(:last-child)::after {
            content: ", "
        }        
        b {
            min-width: 150px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.state-indicator {
    padding: 2px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    user-select: none;
    span {
        text-transform: uppercase;
        padding-left: 10px;
    }
}

