<mat-card class="container">
    <div class="left">
        <div *ngIf="!device.image" class="placeholder">
            <mat-icon>device_hub</mat-icon>
        </div>
    </div>
    <div class="right">
        <div class="title">
            <h1>{{device.name}}</h1>

            <div class="state-indicator" 
                [class.unverified]="!state.verified"
                [class.active]="state.verified && state.active"
                [class.inactive]="state.verified && !state.active">
                <mat-icon inline>{{state.icon}}</mat-icon>
                <span>{{state.text}}</span>
            </div>

        </div>
        <mat-divider></mat-divider>
        <br />

        <mat-accordion class="device-meta">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Device information
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p><b>Device id:</b>{{device._id || '—'}}</p>
                <p><b>Api key id:</b>{{device._id || '—'}}</p>
                <p><b>Created:</b>{{device.created_at || '—'}}</p>
                <p><b>Software version:</b>{{device.software_version || '—'}}</p>
                <p><b>Hardware model:</b>{{device.hardware_model || '—'}}</p>
                <p><b>Total data points:</b>103</p>
                <p><b>Recording:</b>temperature, humidity, light level, water level</p>
                <p><b>Units:</b> c, %, lux, —</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Latest data
                </mat-panel-title>
                <mat-panel-description>
                    15 hours ago
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p><b></b></p>
            </mat-expansion-panel>
          </mat-accordion>


          <br />
        <button mat-button color="primary" (click)="gotoDevice()">inspect</button>
    </div>
</mat-card>
