<app-thumb-wrapper [mini]="mini" [thumbItem]="device" [type]="'device'" [currentUser]="currentUser" [user]="profileUser">
    <div class="title">
        <h1>{{device.name}}</h1>

        <div class="state-indicator" id={{device.state}}>
            <mat-icon inline>{{deviceState.icon}}</mat-icon>
            <span>{{deviceState.text}}</span>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br />

    <mat-accordion class="object-meta">
        <app-loadable-panel
            [loading]="cache.device.loading"
            [title]="'Device information'"
            [description]="cache.device.error"
            [hasData]="cache.device.data != undefined"
            (onClick)="getDeviceMeta()">
            <div *ngIf="cache.device.data && !cache.device.error">
                <p><b>Device id:</b>{{cache.device.data._id || '—'}}</p>
                <p><b>Api key id:</b>{{cache.device.data.api_key._id || '—'}}</p>
                <p><b>Assigned to:</b>{{cache.device.data.assigned_to.type}}: {{cache.device.data.assigned_to.name}}</p>
                <p><b>Last ping: </b>{{cache.device.data.last_ping | amTimeAgo}} </p>
                <p><b>Created:</b>{{(cache.device.data.created_at | amTimeAgo) || '—'}}</p>
                <p><b>Software version:</b>{{cache.device.data.software_version || '—'}}</p>
                <p><b>Hardware model:</b>{{deviceInfo.model_name || '—'}}</p>
                <p><b>Total data points:</b>{{cache.device.data.measurement_count || 0}}</p>
                <p>
                    <b>Recording:</b>
                    <span>
                        <span *ngFor="let measurement of deviceInfo.recording | keyvalue" class="recording-item">{{measurement.key}} ({{measurement.value}})</span>
                    </span>
                </p>
            </div>
        </app-loadable-panel>

        <app-loadable-panel
            [loading]="cache.latest_data.loading"
            [title]="'Latest data'"
            [description]="cache.latest_data.error ? cache.latest_data.error : device.last_ping | amTimeAgo"
            [hasData]="cache.latest_data.data != undefined"
            (onClick)="getLatestData()">

            <div *ngIf="cache.latest_data.data && !cache.latest_data.error">
                <p *ngFor="let field of cache.latest_data.data.data | keyvalue">
                    <b>{{field.key}}:</b> {{field.value}} {{deviceInfo.recording[field.key]}}
                </p>
            </div>

            <mat-action-row>
                <app-load-button
                    [loading]="cache.latest_data.loading"
                    [raised]="false"
                    [icon]="'leak_add'">
                    Request new data
                </app-load-button>
            </mat-action-row>
        </app-loadable-panel>

      </mat-accordion>
</app-thumb-wrapper>
