<div class="data-counter-container">
    <span>Search for</span>
    <ui-select
        [disabled]="loading"
        (selectionChange)="handleSelectionChange($event, 'measurement')"
        [graph]="measurements"
        [showId]="false"
        label="Measurement" required>
    </ui-select>
    <span>on</span>
    <ui-select
        [disabled]="loading"
        (selectionChange)="handleSelectionChange($event, 'recordable')"
        [graph]="recordables"
        label="Recordable"
        required>
    </ui-select>
    <span>from</span>
    <ui-select
        [disabled]="loading"
        (selectionChange)="handleSelectionChange($event, 'sources')"
        [graph]="sources"
        [selectMany]="true"
        label="Sources"
        required>
    </ui-select>
    
    <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
    <p class="result" *ngIf="!loading && aggregationCount !== null"><b>{{ aggregationCount }}</b> results</p>
</div>