.container {
    display: flex;
    flex-flow: row;
    padding: 0;
    min-height: 15vh;
    align-items: stretch;
    overflow: hidden;
    margin-bottom: 20px;
    .left {
        width: 30%;
        background-color: whitesmoke;
        background-size: cover;
        background-position: center;
        background-image: url(https://66.media.tumblr.com/ee4132c368e0b77e664365f29694dc5c/88d8f262f55f0a79-5f/s640x960/07138e9e9d089ef7d9a6565d6bd547d97be6eef5.jpg);
    }
    .right {
        flex: 1 1;
        margin: 20px;
        display: inline-flex;
        flex-flow: column;
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            * { margin: 0 }
            margin-bottom: 15px;
            h3 {
                opacity: 0.5;
                line-height: 0.7;
            }
        }
        button {
            margin-top: auto;
            margin-left: auto;
        }
        .verified {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

mat-divider {
    position: relative !important;
}