h1 {
    text-align: center;
    opacity: 0.6;
}


.actions {
    display: flex;
    justify-content: space-between;
    button {
        margin-right: 10px;
    }
}

mat-form-field {
    width: 100%;
}

.posts {
    margin-top: 20px;
}