.post {
    max-height: 100%;
    overflow: scroll;
    .post-content {
        padding: 20px;
        padding-bottom: 0;
    }
}

.post-header {
    display: flex;
    .left {
        img {
            height: 75px;
            width: 75px;
            object-fit: cover;
            border-radius: 50%;
            overflow: hidden;
        }    
        margin-right: 15px;
    }
    .right {
        font-size: 18px;
        p {
            margin: 0;
            &:first-child {
                margin-bottom: 5px;
            }
        }
    }
}

.post-body {
    margin: 20px 0;
    p {
        font-size: 24px;
        &.date {
            font-size: 18px;
            margin-top: 20px;
            opacity: 0.6;
        }
    }
}

.comments {
    .comment {
        .comment-content {
            font-size: 18px;
            display: flex;
        }
        .right {
            p:last-child {
                margin: 0
            }
        }
        .left {
            img {
                height: 75px;
                width: 75px;
                object-fit: cover;
                border-radius: 50%;
                overflow: hidden;
            }
            margin-right: 15px;
        }
        &.reply {
            margin-left: 35px;
            padding: 10px 0 10px 35px;
            border-left: 3px solid whitesmoke;
            &:hover {
                // background: red;
            }
        }
    }
}

mat-divider {
    position: relative !important;
    margin: 15px 0;
}