<div *ngIf="!success">
  <h1 class="mat-display-1">already have an account?</h1>

  <form [formGroup]="loginForm" [hidden]="success" (ngSubmit)="submitHandler()">
    <mat-form-field>
      <mat-label type="email">e-mail</mat-label>
      <input matInput type="text" formControlName="email">
      <mat-error *ngIf="!errors.email && email.invalid && email.touched">E-mail is required</mat-error>
      <mat-error *ngIf="errors.email">{{errors.email}}</mat-error>
    </mat-form-field>
    
    <br />

    <mat-form-field>
        <mat-label type="password">password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="!errors.password && password.invalid && password.touched">Password is required</mat-error>
        <mat-error *ngIf="errors.password">{{errors.password}}</mat-error>
    </mat-form-field>
    
    <br />

    <mat-form-field floatPlaceholder="always" class="app-input-no-underline">
        <input matInput style="display: none !important">
        <mat-checkbox formControlName="rememberMe">remember me?</mat-checkbox>
    </mat-form-field>

    <br />

    <button [disabled]="loginForm.invalid || loading" type="submit" mat-raised-button color="primary" class="loader">
      <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
      log in</button>

    <mat-error class="form" *ngIf="errors.form">{{errors.form}}</mat-error>
  </form>

  <br/>
  <a class="mat-small help" href="#">trouble logging in?</a>  
</div>

<div *ngIf="success">
  <h1 class="mat-display-1">logged in!</h1>
</div>