<div class="header">
    <h1>devices ({{devices.length}})</h1>
    <app-rounded-button [color]="'primary'" [icon]="'add'" (onClick)="openCreateDeviceDialog()">add device</app-rounded-button>
</div>

<mat-divider></mat-divider>
<br />

<div class="sort-list">
    <p>
        <mat-icon>sort</mat-icon>
        <span>Sort by</span>
    </p>

    <div class="sort-list-items">
        <button mat-button>
            <span>Name</span>
            <mat-icon inline>arrow_drop_down</mat-icon>
        </button>

        <button mat-button>
            <span>Created</span>
            <mat-icon inline>arrow_drop_down</mat-icon>
        </button>

        <button mat-button>
            <span>Device state</span>
            <mat-icon inline>arrow_drop_down</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="devices && !loading">
    <div *ngFor="let device of devices">
        <app-device-thumb
            [device]="device"
            [currentUser]="currentUser"
            [authorUser]="authorUser">
        </app-device-thumb>
    </div>
</div>

<mat-spinner *ngIf="loading"></mat-spinner>

<mat-paginator #paginator
    [showFirstLastButtons]="true"
    [length]="pagination.total_results"
    [pageSize]="5"
    [pageSizeOptions]="[2, 5, 10, 25]">
</mat-paginator>

