<div class="header">
    <h1>devices ({{devices.length}})</h1>
    <app-rounded-button [color]="'primary'" [icon]="'add'" (onClick)="openCreateDeviceDialog()">add device</app-rounded-button>
</div>

<mat-divider></mat-divider>
<br />

<div *ngIf="devices && !loading">
    <div *ngFor="let device of devices">
        <app-device-thumb
            [device]="device"
            [currentUser]="currentUser"
            [profileUser]="profileUser">
        </app-device-thumb>
    </div>
</div>


<mat-spinner *ngIf="loading"></mat-spinner>