<!-- <div class="header">
    <h5>devices ({{devices.length}})</h5>
    <app-rounded-button (onClick)="openCreateDeviceDialog()">add device</app-rounded-button>
</div>
 -->

<!-- <ibm-tile class="header">
    <h4>Devices ({{devices.length}})</h4>
    <div class="right">
        <div class="sort-list-items">
            <button [ibmButton]="'secondary'">
                <span>Name</span>
                <mat-icon inline>arrow_drop_down</mat-icon>
            </button>
    
            <button [ibmButton]="'secondary'">
                <span>Created</span>
                <mat-icon inline>arrow_drop_down</mat-icon>
            </button>
    
            <button [ibmButton]="'secondary'">
                <span>Device state</span>
                <mat-icon inline>arrow_drop_down</mat-icon>
            </button>
        </div>

        <button ibmButton id="add">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</ibm-tile> -->

<div *ngIf="devices && !loading">
    <div *ngFor="let device of devices">
        <app-device-thumb
            [device]="device"
            [currentUser]="currentUser"
            [authorUser]="authorUser">
        </app-device-thumb>
    </div>
</div>

<mat-spinner *ngIf="loading"></mat-spinner>

<div *ngIf="!loading && devices.length == 0">
    <h1 class="light">no devices</h1>
</div>

<mat-paginator #paginator [class.hidden]="!loading && devices.length == 0"
    [showFirstLastButtons]="true"
    [length]="pagination.total_results"
    [pageSize]="5"
    [pageSizeOptions]="[2, 5, 10, 25]">
</mat-paginator>

