.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        margin: 0;
    }
    margin-bottom: 20px;
}

.a {
    display: block
}


.sort-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    p {
        margin: none;
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
        span {
            padding-left: 10px;       
        }
    }

    .sort-list-items {
        display: flex;
        align-items: center;
    }
}

.hidden {
    display: none;
}

h1.light {
    text-align: center;
    opacity: 0.6;
    margin: 16px 0;
}


ibm-tile.header {
    background-color: transparent;
    color: #161616;
    display: flex;
    align-items: center;
    padding: 0;
    height: 48px !important;
    min-height: 48px !important;
    h4 {
        margin-left: 20px;
    }
    .right {
        display: flex;
        align-items: center;
        #add {
            min-width: 0px !important;
            padding: 0 20px;
        }
    }
}