.point {
  // background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  border: 1px solid transparent;
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &.editing {
    border: 1px solid #eaeaea;
    margin: 10px 0;
  }

  .point-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ui-icon-button {
      margin-left: auto;
      // height: 52px;
      ::ng-deep button {
        // height: 52px;
      }
    }
    .point-info {
      display: flex;
      align-items: center;
      padding: 5px 0 5px 5px;

      p {
        margin: 0;
        span:not(:last-child)::after {
          content: ", ";
        }
      }

      .color-picker {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .point-header-buttons {
      display: flex;
    }
  }
}

.counter {
  display: flex;
  align-items: center;
  .counter-span {
    margin: -15px 10px 0 0;
  }
  .request-adder {
    margin-left: auto;
    height: 55.3px;
    margin-top: -1.34375em;
    ::ng-deep button {
      height: 55.3px;
    }
  }
}

.aggregate-wrapper {
  height: 30vh;
  min-width: 70vw;
  width: 100%;
  display: flex;
  
  .aggregate-chart-preview {
    height: 100%;
  }
  .aggregate-axes {
    overflow: scroll;
    flex: 1;
  }
}

.aggregate-chart-settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

mat-button-toggle {
  padding-top: 6px;
  padding-bottom: 3px;
  ::ng-deep .mat-button-toggle-label-content {
    display: flex;
    align-items: center;
    span {
      margin-left: 5px;
      line-height: 0;
    }
  }
}