<div class="postable-actions" [class.justify]="justify">
    <button mat-icon-button>
        <mat-icon>reply</mat-icon>
        <span>{{postable.meta.replies}}</span>
    </button>    
    <button mat-icon-button [class.hasReposted]="postable.meta.hasReposted" (click)="openRepostMenuPopover($event)" #repostMenuHitbox>
        <mat-icon>repeat</mat-icon>
        <span>{{postable.meta.reposts}}</span>

    </button>
    <button mat-icon-button [class.isHearting]="postable.meta.isHearting" (click)="toggleHeartingState($event)">
        <mat-icon>{{postable.meta.isHearting ? 'favorite' : 'favorite_border'}}</mat-icon>
        <span>{{postable.meta.hearts}}</span>
    </button>
</div>       
