.postable-actions {
    display: flex;
    align-self: center;
    &.justify {
        justify-content: space-between;
    }
    .isHearting { color: rgb(224, 36, 94) !important; }
    .hasReposted { color: rgb(23, 191, 99) !important; }
    button {
        margin-right: 10px;
    }
    span {
        margin-left: 5px;
    }
}
