* { box-sizing: border-box; }

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Helvetica', sans-serif;
	overflow: hidden;
  background-color: #f7f2ed;
}

h1,h2,h3,h4,h5 {
  font-weight: 100;
  margin: 0;
}

hr {
	border: 0;
	height: 2px;
	margin: 20px 0;
	background-color: #dddddd;
}

label {
	margin-right: 10px;
}

input {
	border: 0;
	border-bottom: 2px solid rgba(56, 56, 64, 0.8);
	padding: 5px;
	font-size: 16px;
	transition: 0.3s;
	background-color: #f3f3f3;
	min-width: 200px;
}
input:focus {
	background-color: #eceaea;
	border-bottom-color: #18181b !important;
  outline: none;
}

button {
	border: none;
	padding: 10px;
	border-radius: 4px;
	font-size: 16px;
	transition: 0.3s;
	text-decoration: none;
	border-radius: 5px;
	background-color: #f3f3f3;
}
button:hover {
	cursor: pointer;
	background-color: #eceaea;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  white-space: nowrap;
  border-bottom: 1px solid #E1E1E1;
}

.slick-slide {
	padding: 0 8px;
	box-sizing: border-box;
 }

 fieldset {
 	margin: 0;
 	padding: 0;
 	min-width: 100px;
 	border: none;
 	input {
 		float: right;
 	}
 }
 form p {
 	margin: 0;
 	margin-bottom: 8px;
 }

 label {
 	display: inline-block;
 	min-width: 80px;
 }


.Toaster__manager-top-right {
	top: 120px !important;
	right: 30px !important;
}




