<div class="graphs-container">
    <div class="graph-item" [class.full-width]="measurementMap[graph.value.datasets[0].label][3] == true" *ngFor="let graph of formattedData | keyvalue">
        <div class="title" [style.backgroundColor]="measurementMap[graph.value.datasets[0].label][2]">
            <mat-icon>{{measurementMap[graph.value.datasets[0].label][1]}}</mat-icon>    
            <h2>{{measurementMap[graph.value.datasets[0].label][0]}}</h2>
        </div>
        <div class="graph-wrapper">
            <ngx-chartjs [data]="graph.value" [options]="chartOptions" type="line"></ngx-chartjs>
        </div>
    </div>    
</div>

