[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
rpi-ws281x = "*"
adafruit-circuitpython-neopixel = "*"
adafruit-circuitpython-seesaw = "*"
python3-rpi-gpio = "*"

[requires]
python_version = "3"
