mat-card {
    padding: 0 !important;
    overflow: hidden;
}

.profile {
    display: flex;
    flex-flow: column;
    font-size: 19px;
    // background: whitemoke;
    padding: 20px;
    height: 100%;
    max-width: 400px;

    mat-divider {
        position: relative !important;
    }

    .cover-image {
        padding: 10px;
        padding-top: 70px;
        margin-bottom: 75px;
        position: relative;
        height: 250px;
        background-size: cover;
        background-position: center;
        border-bottom: 5px solid #673ab7;
    }

    .profile-padding {
        padding: 20px;
    }

    .avatar-container {
        position: abs;
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 20px;
        img {
            box-shadow: 0 10px 20px rgba(32,34,37,.10);
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            height: auto;
            max-width: 250px;
            width: 100%;
            max-height: 100%;


            object-fit: cover;
            object-position: center center;
            width: 250px;
            height: 250px;
        }    
    }
    #username {
        font-family: monospace;
        font-size: 22px;
        b::before {
            content: "@";
            opacity: 0.5;
        }
    }
    #bio {
        line-height: 1.4;
    }
    #url, #location, #real-name {
        &::before {
            opacity: 0.5;
            font-family: monospace;
        }
    }

    #url::before{ content: 'url: ';}
    #location::before{ content: 'location: ';}
    #real-name::before {content : 'name: '; }
    a { text-decoration: none; }
}

.sides {
    margin-top: 30px;
    display: flex;
    flex-flow: row;
    .side {
        width: 50%;
        font-family: monospace;
        p {
            font-size: 40px;
        }
        span {
            opacity: 0.5;
        }
    }
}

.recordable-container {
    margin-top: 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}