.profile {
    font-size: 19px;
    background: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    height: 100%;

    .avatar-container {
        max-width: 100%;
        max-height: 300px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        img {
            box-shadow: 0 10px 20px rgba(32,34,37,.10);
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            height: auto;
            max-width:100%;
            max-height:100%;
        }    
    }
    display: flex;
    flex-flow: column;
    #username {
        font-family: monospace;
        font-size: 22px;
        b::before {
            content: "@";
            opacity: 0.5;
        }
    }
    #bio {
        line-height: 1.4;
    }
    #url, #location, #real-name {
        &::before {
            opacity: 0.5;
            font-family: monospace;
        }
    }

    #url::before{ content: 'url: ';}
    #location::before{ content: 'location: ';}
    #real-name::before {content : 'name: '; }
    a { text-decoration: none; }
}

.sides {
    margin-top: 30px;
    display: flex;
    flex-flow: row;
    .side {
        width: 50%;
        font-family: monospace;
        p {
            font-size: 40px;
        }
        span {
            opacity: 0.5;
        }
    }
}

.recordable-container {
    margin-top: 20px;;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}