<div class="profile-sidebar-container">
    <mat-card class="profile" *ngIf="notFound">
        <div class="avatar-container">
            <img class="placeholder"/>
        </div>    
    
        <div class="profile-info">
            <p id="username">@{{profileUser.username}}</p>
            <p id="bio">This account doesn't exist</p>
        </div>
    </mat-card>
    
    <mat-card class="profile" *ngIf="!notFound && profileUser">
        <h1 *ngIf="profileUser.username == currentUser?.username" class="edit-profile-button">
            <button mat-mini-fab color="default"><mat-icon>edit</mat-icon></button>
        </h1>

        <div class="avatar-container">
            <img src="{{profileUser.avatar}}" />
        </div>    
    
        <div class="profile-info">
            <h2>{{profileUser.name}}</h2>
            <p id="username">@{{profileUser.username}}</p>
            <p id="bio">{{profileUser.bio}}</p>
    
            <div class="user-meta">
                <div id="location" *ngIf="profileUser.location">
                    <mat-icon>location_on</mat-icon>{{profileUser.location}}
                </div>
            </div>
    
            <div class="user-followers-following">
                <p>Posts<b>{{profileUser.posts}}</b></p>
                <p>Followers<b>{{profileUser.followers}}</b></p>
                <p>Following<b>{{profileUser.following}}</b></p>
            </div>
    
             <!-- <div class="recordable-container">
                <app-recordable-count
                    (changeRecordableTab)="navigateRecordable($event)"
                    [profileUser]="profileUser.username"
                    [icon]="'eco'"
                    [title]="'plants'"
                    [count]="profileUser.plant_count">
                </app-recordable-count>
    
                <app-recordable-count
                    (changeRecordableTab)="navigateRecordable($event)"
                    [profileUser]="profileUser.username"
                    [icon]="'group_work'"
                    [title]="'gardens'"
                    [count]="profileUser.garden_count">
                </app-recordable-count>
    
                <app-recordable-count
                    (changeRecordableTab)="navigateRecordable($event)"
                    [profileUser]="profileUser.username"
                    [icon]="'device_hub'"
                    [title]="'devices'"
                    [count]="profileUser.device_count">
                </app-recordable-count>
            </div>  -->
            </div>
    </mat-card>
    
    <!-- <app-profile-sidebar-quad></app-profile-sidebar-quad>     -->
</div>
