<div class="device-container" *ngIf="device">
    <div class="title">
        <h1>{{device.name}}</h1>
        <div class="manage-device-buttons">
            <app-rounded-button [icon]="'edit'" [color]="'primary'">edit</app-rounded-button>    
        </div>
    </div>    
</div>

<mat-divider></mat-divider>

<mat-tab-group *ngIf="cache.device.data">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>toggle_on</mat-icon>
            Control
        </ng-template>
        <div class="device-container">
            <app-device-control
                [device]="cache.device.data"
                [authorUser]="cache.user.data"
                [currentUser]="currentUser">
            </app-device-control>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>play_for_work</mat-icon>
            Task routines
        </ng-template>
        <div class="device-container">
            <app-scheduled-tasks
                [device]="cache.device.data"
                [authorUser]="cache.user.data"
                [currentUser]="currentUser">
            </app-scheduled-tasks>
        </div>
    </mat-tab>


    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>information</mat-icon>
            Information
        </ng-template>
        <div class="device-container device-info">
                <div class="description">
                    <div class="body">
                        <div *ngIf="cache.device.data.short_desc">
                            <h2>description</h2>
                            <p>{{cache.device.data.short_desc}}</p>
                        </div>
                    </div>
                </div>

                <div lightbox-group id="gallery">
                    <img src="" lightbox [fullImage]="{path: 'path_to_fullimage'}" />
                    <img src="" lightbox [fullImage]="{path: 'path_to_fullimage'}" />
                    <img src="" lightbox [fullImage]="{path: 'path_to_fullimage'}" />
                </div>    
                
            <br/>

            <div class="device-info-footer">
                <mat-chip-list>
                    <mat-chip>One fish</mat-chip>
                    <mat-chip>Two fish</mat-chip>
                    <mat-chip color="primary" selected>Primary fish</mat-chip>
                    <mat-chip color="accent" selected>Accent fish</mat-chip>
                </mat-chip-list>
    
                <mat-chip class="assigned-to no-hash" (click)="goToAssignedRecordable()">
                    <div class="assigned-to-image">
                        <img *ngIf="device.assigned_to.thumbnail" [src]="device.assigned_to?.thumbnail"/>
                        <mat-icon *ngIf="!device.assigned_to.thumbnail">{{device.assigned_to.type == 'plant' ? 'eco' : 'group_work'}}</mat-icon>    
                    </div>
                    
                    <div class="right">
                        {{device.assigned_to?.name}}    
                    </div>
                </mat-chip>        
            </div>

        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>bar_chart</mat-icon>
            Measurements
        </ng-template>
        <div class="plant-container">
            <div class="device-container" *ngIf="!cache.device.loading">
                <div *ngIf="!cache.measurements.loading">
                    <app-measurements-graphs [data]="measurements" [device]="cache.device.data"></app-measurements-graphs>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<mat-divider></mat-divider>
<div class="device-container">
    <app-postable-social-actions *ngIf="cache.device.data != undefined"
        [postable]="cache.device.data"
        [type]="'device'"
        [authorUser]="cache.user.data"
        [currentUser]="currentUser"
        [justify]="true">
    </app-postable-social-actions>
</div>

<!-- <mat-divider></mat-divider>
<div class="device-container">
    <app-postable-replies></app-postable-replies>
</div> -->

<mat-spinner *ngIf="cache.device.loading"></mat-spinner>