<mat-tab-group mat-align-tabs="start" class="light">
  <mat-tab>
    <ng-template mat-tab-label>
      <ui-icon>api</ui-icon>
      Sensors
    </ng-template>
    <ui-section-header title="Sensors" subtitle="Environment information"></ui-section-header>


    <table mat-table [dataSource]="cache.sensor.data" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail"
            [@detailExpand]="element == cache.sensor.expandedElement ? 'expanded' : 'collapsed'">

            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
              style="height: 400px; display: block;"></highcharts-chart>

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="cache.sensor.expandedElement === element"
        (click)="cache.sensor.expandedElement = cache.sensor.expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>








  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <ui-icon>save</ui-icon>
      States
    </ng-template>
    <ui-section-header title="States" subtitle="Device output states"></ui-section-header>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <ui-icon>flash</ui-icon>
      Metrics
    </ng-template>
    <ui-section-header title="Metrics" subtitle="Data on the device itself"></ui-section-header>

  </mat-tab>
</mat-tab-group>
