<div *ngIf="post" class="post">

    <div class="post-header">
        <div class="left">
            <img src="https://media.discordapp.net/attachments/635544732939976724/699731547539898468/IMG_0029.JPG?width=1138&height=1515">
        </div>

        <div class="right">
            <p><b>{{user.name}}</b></p>
            <p>@{{user.username}}</p>
        </div>
    </div>

    <div class="post-body">
        <p>{{post.content}}</p>
        <p class="date">{{post.created_at | date: 'shortTime'}} · {{post.created_at | date: 'mediumDate'}}</p> 
    </div>

    <mat-divider></mat-divider>

    <div *ngFor="let comment of post.comments" class="comments">
        <div class="comment">
            <div class="comment-content">
                <div class="left">
                    <img src="https://i.imgur.com/URGiYXv.jpg">
                </div>
                <div class="right">
                    <p><b>{{comment.name}}</b> @{{comment.username}} · {{comment.created_at | amTimeAgo}}</p>
                    <p>{{comment.content}}</p>    
                </div>    
            </div>
            <div class="comment-replies" *ngIf="comment.replies.length > 0">
                <div *ngFor="let reply of comment.replies">
                    <div class="comment reply">
                        <div class="comment-content">
                            <div class="left">
                                <img src="https://i.imgur.com/URGiYXv.jpg">
                            </div>
                            <div class="right">
                                <p><b>{{reply.name}}</b> @{{reply.username}} · {{reply.created_at | amTimeAgo}}</p>
                                <p>{{reply.content}}</p>    
                            </div>    
                        </div>
                    </div>
                </div>        
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
