<div class="assignment-wrapper" *ngIf="graph">
  <div class="assigner" *ngFor="let assignment of assignmentGraph | keyvalue">
    <ui-button variant="accent" (click)="openAssignmentDialog(assignment.key, assignment.value)">
      {{graph.sources[assignment.key].name}}
    </ui-button>
    <ui-icon>arrow--right</ui-icon>
    <p>{{graph.sources[assignment.value]?.name || "Not assigned"}}</p>
  </div>

  <mat-divider></mat-divider>
</div>


<div class="chart-wrapper">
  <highcharts-chart *ngIf="graph"
    [Highcharts]="Highcharts"
    [options]="chartData"
    style="height: 500px;">
  </highcharts-chart>
</div>
