<div *ngIf="!success">
    <h1 class="mat-display-1">register a new account</h1>

    <form [formGroup]="registerForm" [hidden]="success" (ngSubmit)="submitHandler()">

        <ibm-label [invalid]="errors.username || (username.invalid && username.dirty)">
            username
        <mat-hint align="end">({{username.value?.length || 0}}/{{field_max_len}})</mat-hint>
        <input
            ibmText
            type="text"
            formControlName="username"
            minLength="4"
            maxlength="{{field_max_len}}"
            autocomplete="off"/>
        </ibm-label>        
        <div *ngIf="errors.username || (username.invalid && username.dirty)">
            <mat-error *ngIf="!errors.username && !username.value">username is required</mat-error>
            <mat-error *ngIf="!errors.username && registerForm.hasError('usernameForbidden')">username must only contain letters and numbers</mat-error>
            <mat-error *ngIf="errors.username">{{errors.username}}</mat-error>
            <br />
        </div>

        <br />

		<ibm-label [invalid]="errors.password || (email.invalid && email.dirty)">
            email
        <input
            formControlName="email"
            ibmText
            type="text"
            [invalid]="false"
            [autocomplete]="false">
        </ibm-label>
        <div *ngIf="errors.email || (email.invalid && email.dirty)">
            <mat-error *ngIf="!errors.email && email.invalid && email.touched">e-mail is required</mat-error>
            <mat-error *ngIf="errors.email">{{errors.email}}</mat-error>
            <br/>
        </div>

        
        <br />
		<ibm-label [invalid]="errors.password">
        password
        <mat-hint align="end">({{password.value?.length || 0}}/{{field_max_len}})</mat-hint>
        <input
            formControlName="password"
            ibmText
            type="password"
            maxlength="{{field_max_len}}"
            minLength="{{pw_min_len}}"
            [invalid]="false"
            [autocomplete]="false">
        </ibm-label>
        <!-- <mat-error *ngIf="!errors.password && password.value.length < pw_min_len && password.touched">password must be greater than {{pw_min_len}} characters</mat-error>
        <mat-error *ngIf="errors.password">{{errors.password}}</mat-error> -->
        
        <br />

		<ibm-label
            [invalid]="confirmation.touched && password.touched && confirmation.invalid"
            [invalidText]="'passwords do not match'">
        confirm password
        <input
            formControlName="confirmation"
            ibmText
            type="password"
            maxlength="{{field_max_len}}"
            minLength="{{pw_min_len}}"
            (input)="onPasswordInput()"
            [invalid]="false"
            [autocomplete]="false">
        </ibm-label>

        <br />
        <br />

        <app-load-button [disabled]="loading" [loading]="loading">{{register_button_text}}</app-load-button>
    </form>
</div>

<div *ngIf="success">
    <h1 class="mat-display-1">account created!</h1>
    <p>a verification e-mail has been sent to your email address</p>
</div>