h1 {
    margin-bottom: 30px !important;
}

.loader {
    .mat-spinner {
        display: inline-block;
        margin-right: 5px;
    }
}

mat-error {
    color: rgb(218, 30, 40) !important;
    font-size: 12px;
}